body {
  background-color: #360552;
 /* background-image: url("https://art.teleportacia.org/observation/vernacular/stars/starry.gif"); */
}

p {
  color: #ccccff;
  font-size: 24px;
}


div {
  border: solid;
  border-color: #893204;
  width: auto;
    /* gap between borders */
  margin-side: 100px;
  margin-top: 62px;
    /* px gap from text to border */
  padding: 12px;
  border-style: dashed;

 /* my bloved top bar */
header {
  background-color: #cc8899;
  padding: 12px;
}

/* my beloved sideabar */
nav {
  float: left;
  width: 100;
  padding: 12px;
  hight: 100%
}

/* my beloved shit */
article {
  float: left;
  padding: 12px;
  width: auto;
  hight: 100%
  background-color: #cc8899;

}
