/* This css is based on gas plasma displays */

p {
  color: #e86a27;
  font-size: 24px;
}

body {
  background-color: #680808;
}

div {
  border: solid;
  border-color: #893204;
  border-padding: 12px;
    p {
      color: #e86a27;
      font-size: 24px;
    }
}
