/* This css is based on gas plasma displays */

p {
  color: #e86a27;
  font-size: 24px;
}

body {
  background-color: #680808;
}

div1 {
  border: solid;
  border-color: #893204;
  width: auto;
    /* gap between borders */
  margin: 12px;
    /* px gap from text to border */
  padding: 12px;
}

div {
  border: solid;
  border-color: #893204;
  width: auto;
    /* gap between borders */
  margin: 12px;
    /* px gap from text to border */
  padding: 12px;
  max-width: 900px;
}
